!virtuales_doc/.gitkeep
!virtuales/.gitkeep
!virtuales_aceptados/.gitkeep

lib/composer/vendor
lib/phpmailer
lib/PhpSpreadsheet
procesos/includes/functions/class/PHPExcel
procesos/includes/functions/class/config
procesos/includes/functions/class/fonts
procesos/includes/functions/class/images

.env
.env.backup

*copia*
*.7z
*.csv
*.db
*.json
*.log
*.pdf
*.sql
*.xlsx
*.xls
